[submodule "uhs.zapcom.net"]
	path = uhs.zapcom.net
	url = git@github.com:jfredrickson/uhs.zapcom.net
[submodule "insystive"]
	path = insystive
	url = git@github.com:jfredrickson/insystive.git
[submodule "sharing-economy"]
	path = sharing-economy
	url = git@github.com:jfredrickson/sharing-economy.git
